<div class="block-contact">
	<h2 class="title">{{title}}</h2>
	<p class="description">{{message}}</p>
	<form action="" method="post" class="contactus">
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="fullname" placeholder="Please enter your name" />
		</div>
		<div class="form-group">
			<label>Email Id</label>
			<input type="text" name="email" placeholder="Please enter email address" />
		</div>
		<div class="form-group">
			<label>Telephone</label>
			<input type="text" name="telephone" placeholder="Please enter telephone no" />
		</div>
		<div class="form-group">
			<label>Message</label>
			<textarea name="message" placeholder="Please enter your message" ></textarea>
		</div>
		<div class="form-control">
			<button type="submit" class="btn">Submit</button>
			<button type="reset" class="btn">Reset</button>
		</div>
	</form>
</div>
