.block-contact{
	width:100%;
	float:left;
	text-align:center;
	margin: 0 auto 25px;
}
.block-contact .title{
	color:#dd0031;
    font-size:18x;	
    padding: 15px 0 1px;
    text-decoration: underline;
}
.block-contact .description{
	font-size:14px;
}
.block-contact .contactus {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}
.block-contact .contactus .form-group{
	width:50%;
	text-align: center;
	margin: 5px auto;
}
.block-contact .contactus .form-group label{
	width:70px;
	text-align:left;
	float:left;
	margin: 6px 0;
	color:#dd0031;
}
.block-contact .contactus .form-group input, 
.block-contact .contactus .form-group textarea{
	width:250px;
	text-align:left;
	float:right;
	margin: 5px 0;
}
.block-contact .contactus .form-control{
	width: 100%;
	text-align: center;
	float: left;
	border:none;
}
.block-contact .contactus .form-control .btn{
	color:white;
	background:red;
	border:none;
	margin:2px;
	padding:5px 10px;
	border-radius:2px;
}
.block-contact .contactus .form-control .btn:hover{
	background:#dd0031;	
}