#postlist {
    width: 100%;
    float: left;
    position: relative;
}
.blogpost{
    float:left;
}
.post-contents{
    padding: 0 15px;
}
.panel{    
    padding: 10px 0 5px;
    border-bottom: 1px dotted red;
}
.post-heading{
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    color: #dd0031;
}
.panel-body{
    padding: 5px 20px;
}